<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Epidemic Escapes</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Nav links -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/books"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Books</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/authors"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Authors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/publishers"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Publishers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/genres"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Genres</a
          >
        </li>
      </ul>

      <div class="d-flex flex-column flex-md-row flex-lg-row">
        <form class="me-2">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          routerLink="/login"
          *ngIf="!isConnected"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-primary me-2"
          routerLink="/register"
          *ngIf="!isConnected"
        >
          Sign-up
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNavDarkDropdown"
          *ngIf="isConnected"
        >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ user?.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" routerLink="/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/settings">Settings</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" (click)="logout()">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
