<form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      formControlName="email"
      aria-describedby="emailHelp"
    />
  </div>
  <p>
    An email has be sent to your email address with a link to create a new
    password.
  </p>
  <button type="submit" class="btn btn-primary" [disabled]="!recoverForm.valid">
    Submit
  </button>
  <hr />
  <button type="button" class="btn btn-link" routerLink="/login">Login</button>
</form>
