<div class="container">
  <h3>Admin</h3>
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a
          [routerLink]="['books']"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Books</a
        >
        <a
          [routerLink]="['authors']"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Authors</a
        >
        <a
          [routerLink]="['publishers']"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Publishers</a
        >
        <a
          [routerLink]="['genres']"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Genres</a
        >
        <a
          [routerLink]="['users']"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Users</a
        >
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
