<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let book of books" (click)="selectBook(book)">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h5 class="card-title">{{ book.description }}</h5>
        <h5 class="card-title">{{ book.genre.name }}</h5>
        <h5 class="card-title">{{ book.publisher.name }}</h5>
        <ul>
          <li *ngFor="let author of book.authors">
            <a
              href="{{ author.firstName }}"
              target="_blank"
              class="card-link"
              >{{ author.firstName }}</a
            >
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
