<div class="px-4 py-5 mt-5 mb-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="./assets/full-stack-developer-icon.svg"
    alt=""
    width="120"
  />
  <h1 class="display-5 fw-bold">Epidemic Escapes Bookstore</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Simply learn and improve your skills in many technologies, programming
      languages, frameworks, and more
    </p>
  </div>
</div>
<!-- -->
<h3>Resources</h3>
<hr />
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="col d-flex align-items-start">
    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
      <svg class="bi" width="1em" height="1em">
        <use xlink:href="#toggles2" />
      </svg>
    </div>
    <div>
      <h2>Bookmarks</h2>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="btn btn-primary"> Primary button </a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
      <svg class="bi" width="1em" height="1em">
        <use xlink:href="#cpu-fill" />
      </svg>
    </div>
    <div>
      <h2>Books</h2>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="btn btn-primary"> Primary button </a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
      <svg class="bi" width="1em" height="1em">
        <use xlink:href="#tools" />
      </svg>
    </div>
    <div>
      <h2>Courses</h2>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="btn btn-primary"> Primary button </a>
    </div>
  </div>
</div>

<h3>Featured Books</h3>
<hr />
