<h3>Settings</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Books</a>
        </li>
      </ul>
    </div>
    <div class="col">Column</div>
  </div>
</div>
